<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mycodeschoolhomeworks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/CodeSchoolHomework"
        android:roundIcon="@drawable/icon_0_for_ttt"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCodeSchoolHomeworks"
        tools:targetApi="31">
        <activity
            android:name=".menusandpickers.activities.OptionsMenuActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".menusandpickers.activities.TimePickerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".menusandpickers.MenusActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".menusandpickers.activities.DataPickerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".contract.SignUpActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".contract.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".contract.HomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".menusandpickers.activities.ContextMenuActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recyclerview.ui.postlist.activities.WebViewActivity"
            android:exported="false"
            android:label="@string/title_activity_web_view"
            android:theme="@style/Theme.MyCodeSchoolHomeworks.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recyclerview.ui.postlist.activities.FullScreenImageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".box.activity.ReactionButtonGroupActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recyclerview.ui.postlist.PostListActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".box.activity.RadioGroupActivity"
            android:exported="false" />
        <activity
            android:name=".box.activity.CustomRadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".box.activity.CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".box.activity.CustomCheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.ui.countrylist.CountryListActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.ui.countryinfo.CountryInfoActivity"
            android:exported="false" />
        <activity
            android:name=".box.BoxesActivity"
            android:exported="false" />
        <activity
            android:name=".tictac.TTTRegistation"
            android:exported="false" />
        <activity
            android:name=".tictac.TTTGameActivity"
            android:exported="false" />
        <activity
            android:name=".tictac.TTTHome"
            android:exported="false" />
        <activity
            android:name=".calculator.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>