<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mycodeschoolhomeworks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_0_for_ttt"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCodeSchoolHomeworks"
        tools:targetApi="31">
        <activity
            android:name=".RadioGroupActivity"
            android:exported="false" />
        <activity
            android:name=".CustomRadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".CustomCheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".CheckBox"
            android:exported="false" />
        <activity
            android:name=".recyclerview.ui.countrylist.CountryListActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.ui.countryinfo.CountryInfoActivity"
            android:exported="false" />
        <activity
            android:name=".box.BoxesActivity"
            android:exported="false" />
        <activity
            android:name=".tictac.TTTRegistation"
            android:exported="false" />
        <activity
            android:name=".tictac.TTTGameActivity"
            android:exported="false" />
        <activity
            android:name=".tictac.TTTHome"
            android:exported="false" />
        <activity
            android:name=".calculator.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>