<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mycodeschoolhomeworks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/CodeSchoolHomework"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCodeSchoolHomeworks"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".guardian.ui.activity.NewsActivity"
            android:exported="false"/>
        <activity
            android:name=".weatherapp.WeatherMainActivity"
            android:exported="false" />
        <activity
            android:name=".appstore.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.ui.postlist.PostListActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".box.activity.RadioGroupActivity"
            android:exported="false" />
        <activity
            android:name=".box.activity.CustomRadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".box.activity.CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".box.activity.CustomCheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.ui.countrylist.CountryListActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.ui.countryinfo.CountryInfoActivity"
            android:exported="false" />
        <activity
            android:name=".box.BoxesActivity"
            android:exported="false" />
        <activity
            android:name=".tictac.TTTRegistation"
            android:exported="false" />
        <activity
            android:name=".tictac.TTTGameActivity"
            android:exported="false" />
        <activity
            android:name=".tictac.TTTHome"
            android:exported="false" />
        <activity
            android:name=".calculator.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>